/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1785 {
      /* 200px - 300px - leaving extra space for the navigation */
      padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
      /* prevents the topper line from causing an overflow */
      overflow: hidden;
      position: relative;
      z-index: 1;
      margin: 0;
    } 
    #hero-1785 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
    }
    #hero-1785 .cs-content {
      text-align: center;
      width: 100%;
      max-width: 46.875rem;
    }
    #hero-1785 .cs-title {
      /* 49px - 84px */
      font-size: clamp(3.0625rem, 6vw, 5.25rem);
    }
    #hero-1785 .cs-title,
    #hero-1785 .cs-text {
      color: var(--bodyTextColorWhite);
    }
    #hero-1785 .cs-text {
      margin-bottom: 2rem;
    }
    #hero-1785 .cs-button-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    #hero-1785 .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: 12.5rem;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #hero-1785 .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #hero-1785 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-1785 .cs-graphic {
      width: 100%;
      min-width: 120rem;
      height: auto;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 0;
      transform: translateX(-50%);
    }
    #hero-1785 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
    #hero-1785 .cs-background:before {
      /* Overlay */
      content: "";
      width: 100%;
      height: 100%;
      /* background: black; */
      /* prevents the cursor from interacting with it */
      pointer-events: none;
      opacity: 0.7;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #hero-1785 .cs-background img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  /* Large Desktop - 1920px */
  @media only screen and (min-width: 120rem) {
    #hero-1785 {
      /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
      padding-bottom: 14vw;
    }
  }


  /*-- -------------------------- -->
<---           Services            -->
<--- -------------------------- -*/

h2 {
    text-align: center;
    margin-top: 20px;
}

.section-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.section-link {
    flex: 1;
    background-color: rgb(39, 0, 93); /*rgb(174, 210, 255);*/
    color: white;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.section-link h3 {
    margin: 0;
    font-size: 22px;
}

.section-link.active, .section-link:hover {
    background-color: rgb(148, 0, 255); /*rgb(228, 241, 255);*/
}

.section-content {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
}

.section-content.active {
    display: block;
}

.section-content ul {
    list-style-type: none;
    padding: 0;
}

.section-content ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.section-content ul li:last-child {
    border-bottom: none;
    
}

.service-sub-section {
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    padding: 8px 0;
}

.service-sub-section:last-child {
    border-bottom: none;
    
}
/* Styling for the prices */
.price {
    float: right;
    color: #555;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .section-container {
        flex-direction: column;
    }

    .section-link {
        margin: 10px 0;
    }

    .section-link h3 {
        font-size: 20px;
    }
}


  /*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-316 {
        padding: var(--sectionPadding);
        background-color: rgb(150, 148, 255); /* #1a1a1a; */
    }
    #stats-316 .cs-card-group {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 37.5em;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
    }
    #stats-316 .cs-item {
        list-style: none;
        width: 14.6875rem;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #stats-316 .cs-picture {
        width: 5rem;
        height: 5rem;
        /* 12px - 20px */
        margin-right: clamp(0.75rem, 3vw, 1.25rem);
        border-radius: 50%;
        border: 1px solid rgb(0, 0, 0); /*var(--primary);*/
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #stats-316 .cs-icon {
        width: 2.5rem;
        height: auto;
    }
    #stats-316 .cs-flex-group {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    #stats-316 .cs-number {
        font-size: var(--headerFontSize);
        color: var(--bodyTextColorWhite);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0;
        display: block;
    }
    #stats-316 .cs-desc {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: black;
        display: block;
    }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-316 .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.25rem;
        row-gap: 2rem;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-316 .cs-card-group {
        max-width: 80rem;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-62 {
        padding: var(--sectionPadding);
    }
    #reviews-62 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-62 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #reviews-62 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
    }
    #reviews-62 .cs-item {
        list-style: none;
        width: 100%;
        max-width: 25.8125rem;
        margin: 0;
        padding: 0;
    }
    #reviews-62 .cs-img {
        width: 4.25rem;
        height: 4.25rem;
        margin: 0 auto 1rem;
        border-radius: 50%;
        display: block;
    }
    #reviews-62 .cs-name {
        font-size: 1.25rem;
        line-height: 1.2em;
        text-align: center;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }
    #reviews-62 .cs-desc {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: center;
        margin: 0 0 1rem;
        color: #7d799c;
        display: block;
    }
    #reviews-62 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 2vw, 1rem);
        text-align: center;
        line-height: 1.5em;
        margin: auto;
        color: black;
    }
    #reviews-62 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #reviews-62 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #reviews-62 .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-62 .cs-card-group {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        row-gap: 2.5rem;
    }
    #reviews-62 .cs-item {
        /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 23% to get the desired sizes fit 4 in a row and then stack when you add more*/
        width: clamp(31.5%, 30vw, 32.3%);
    }
}

.star-rating {
    justify-content: center;
}



.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.cs-background img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 50;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

/*Accordian Section */

.section-content {
    display: none;
}
.section-content.active {
    display: block;
}
.sub-services {
    display: none;
    padding-left: 20px;
}
.sub-services li {
    list-style-type: circle;
    font-size: 0.9rem;
    color: #555;
}
li {
    cursor: pointer;
    padding: 5px 0;
}

/* Accordian */
.sub-section {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
}

.arrow {
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease-out;
}

li.active .arrow {
    transform: rotate(180deg);
}

li.active .sub-section {
    display: block;
    max-height: 200px; /* Adjust as needed */
    padding: 10px;
}                         