<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CV Hair Emporium</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/confirmAppt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/writeReview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetPwConfirmation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pwTokenExpiration.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="google-signin-client_id" content="696797394716-f55rv8a08fit6bdeld428m8eftceb4cp.apps.googleusercontent.com">
</head>
<body>
    <header id="cs-navigation">
        <div class="cs-top-bar">
            <div class="cs-top-container">
                <div class="cs-top-contact">
                    <a href="https://maps.google.com/?q=111+N+Wabash+Avenue,+Suite+1318,+Chicago,+IL,+United+States" target="_blank" rel="noopener noreferrer" class="cs-top-link">
                        <img class="cs-link-icon" src="/static/images/icons8-location-50.png" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                        111 N Wabash Avenue Suite 1318, Chicago, IL 60602
                    </a>
                    <a href="tel:+13312339914" class="cs-top-link">
                        <img class="cs-link-icon" src="/static/images/icons8-phone-50.png" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                        Call us: (331)-233-9914
                    </a>
                    <!--Update email later-->
                    <a href="mailto:someone@example.com" class="cs-top-link">
                        <img class="cs-link-icon" src="/static/images/icons8-email-50.png" alt="logo" width="20" height="20" aria-hidden="true" decoding="async">
                        cvhairemporium@gmail.com
                    </a>
                </div>
                <div class="cs-top-social">
                    <a href="https://www.instagram.com/cvhairemporium/" target="_blank" class="cs-social-link">
                        <img class="cs-social-icon" src="/static/images/icons8-instagram-50.png" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                    </a>
                </div>
            </div>
        </div>
        <div class="cs-container">
            <!--Nav Logo-->
            <a href="" class="cs-logo" aria-label="back to home">
                <img src="/static/images/black-women-stock.jpg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
            </a>
            <!--Navigation List-->
            <nav class="cs-nav" role="navigation">
                <!--Mobile Nav Toggle-->
                <button class="cs-toggle" aria-label="mobile menu toggle">
                    <div class="cs-box" aria-hidden="true">
                        <span class="cs-line cs-line1" aria-hidden="true"></span>
                        <span class="cs-line cs-line2" aria-hidden="true"></span>
                        <span class="cs-line cs-line3" aria-hidden="true"></span>
                    </div>
                </button>
                <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
                <div class="cs-ul-wrapper">
                    <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                        <li class="cs-li">
                            <a href="{{ url_for('home') }}" class="cs-li-link">
                                Home
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="{{ url_for('gallery') }}" class="cs-li-link">
                                Gallery
                            </a>
                        </li>
                        <li class="cs-li book-appointment">
                            <a href="https://cal.com/glenn-telus-mensah-8tzm3m " target="_blank" class="cs-li-link">
                                Book Appointment
                            </a>
                        </li>
                        <!-- Check if the user is authenticated -->
                        {% if current_user.is_authenticated %}
                        <li class="cs-li">
                            <a href="{{ url_for('user_dashboard') }}" class="cs-li-link">Appointment Dashboard</a>
                        </li>
                        <li class="cs-li">
                            <a href="{{ url_for('logout') }}" class="cs-li-link">Logout</a>
                        </li>
                        {% else %}
                        <li class="cs-li">
                            <a href="{{ url_for('login') }}" class="cs-li-link">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
                                
    <main>
        {% block content %}{% endblock %}
    </main>
<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

    <footer id="footer-1391">
        <div class="cs-container">
            <div class="cs-top">
                <a aria-label="go back to home" class="cs-logo" href="">
                   <!--<img class="cs-logo-img" loading="lazy" decoding="async" src="/static/images/black-women-stock.jpg" alt="logo"> --> 
                </a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <a href="" class="cs-link">Home</a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-link">Gallery</a>
                    </li>
                    <li class="cs-li">
                        <a href="https://cal.com/glenn-telus-mensah-8tzm3m" class="cs-link">Book Appointment</a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="cs-bottom">
                <!--Social-->
                <ul class="cs-social">
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" aria-label="facebook" target="_blank" rel="noopener">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/face-white1.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                        </a>
                    </li>
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-white.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                        </a>
                    </li>
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" aria-label="instagram" target="_blank" rel="noopener">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                        </a>
                    </li>
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                        </a>
                    </li>
                </ul>
                <span class="cs-copyright">
                    © Copyright 2024 - <a href="" class="cs-copyright-link">CV Hair Emporium</a>
                </span>
            </div>
        </div>
    </footer>

    {{ bootstrap.load_js() }}
    <!-- Bootstrap JS (Requires Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>                            
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="jc3glpa6f4o2kvj"></script>
</body>
</html>
