{% extends "base.html" %}
{% block content %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Payment Successfull!</h1>
            <p class="cs-text">
                Your payment has been successfully processed. Your appointment is now awaiting confirmation. We will notify you once it has been confirmed.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid cs-button1">Back to Dashboard</a>
                <a href="" class="cs-button-solid cs-button2">Donate Now</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
{% endblock %}
