{% extends "base.html" %}
{% block content %}
<h2>Gallery</h2>
<div class="gallery">
    {% for item in gallery_items %}
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/' ~ item.image) }}" alt="{{ item.description }}">
            <p>{{ item.type }} - {{ item.description }}</p>
        </div>
    {% endfor %}
</div>

<a 
  href="https://www.dropbox.com/scl/fo/w67ugqfuvjgrjn5e7wtl5/AAiHMRNQrko0IovsAB9MndM?rlkey=gfnnr93l09cuzw8uia95ip3ee&st=ksyfxwj6&dl=0" 
  class="dropbox-embed"
  data-height="400px"
  data-width="100%"
></a>

<a 
  href="https://www.dropbox.com/scl/fo/no3o8qvii4ohm5ws8ogo1/AI8F0a_k0Ut1SeJQyTGfvu8?rlkey=63cxp2eujd6i7lpnhd41dmsbz&st=n3nmwt8e&dl=0" 
  class="dropbox-embed"
  data-height="400px"
  data-width="100%"
></a>
{% endblock %}
