{% extends "base.html" %}
{% block content %}

<section id="contact-1388">
  <div class="cs-container">
      <!--Form-->
      <form class="cs-form" id="cs-form-1388" name="Contact Form" method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
          <label class="cs-label cs-email">
            {{ form.email.label }}
            {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors[0] }}</div>
            {% endif %}
            {{ form.email(class="cs-input") }}
          </label>
          <label class="cs-label form-group">
            {{ form.password.label }} 
            {% if form.password.errors %}
                <div class="text-danger">{{ form.password.errors[0] }}</div>
            {% endif %}
            {{ form.password(class="cs-input form-control") }}
          </label>
          <div class="login-buttons">
            <button class="cs-button-solid cs-submit" type="submit">{{ form.submit.label }}</button>
            <br>
            <a href="{{ url_for('googleLogin') }}"> 
              <button type="button" class="login-with-google-btn" >Sign in with Google</button>
            </a>
          </div>
          <br>
            <a class="forgot-password-link" href="{{ url_for('forgot_password') }}">Forgot Password?</a>
          <div class="registration-info">
            <p>Don't have an account?</p>
            <a class="registration-link" href="{{ url_for('register') }}">Register</a>
          </div>
      </form>


  </div>
</section>
      
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}
