{% extends "base.html" %}
{% block content %}
<h1>Login Page</h1>

<section id="contact-1388">
  <div class="cs-container">
      <!--Form-->
      <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post">
          <h3 class="cs-h3">Make Appointment</h3>
          <label class="cs-label">
              Name
              <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name">
          </label>
          <label class="cs-label cs-email">
              Email
              <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email">
          </label>
          <label class="cs-label cs-phone">
              Phone
              <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone">
          </label>
          <label class="cs-label">
              Message
              <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
          </label>
          <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
      </form>
  </div>
</section>
        
<form method="POST" action="{{ url_for('login') }}">
    {{form.hidden_tag() }}
    {{form.email}}
    {{form.password}}
    {{form.submit}}
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<a href="{{ url_for('googleLogin') }}">
  <button type="button" class="login-with-google-btn" >Sign in with Google</button>
</a>
<br>
<a href="{{ url_for('register') }}">Don't have an account? Sign up</a>
{% endblock %}
