{% extends "base.html" %}
{% block content %}
<h1>Login Page</h1>

<form method="POST" action="{{ url_for('login') }}">
    {{form.hidden_tag() }}
    {{form.email}}
    {{form.password}}
    {{form.submit}}
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<a href="{{ url_for('register') }}">Don't have an account? Sign up</a>
{% endblock %}
