{% extends "base.html" %}
{% block content %}
<h1>Register</h1>
<form method="POST" action="{{ url_for('register') }}">
    <!-- This hidden tag is used for CSRF protection -->
    {{ form.hidden_tag() }}

    <!-- Render the input fields and the submit button -->
    {{ form.first_name.label }} {{ form.first_name(size=32) }}<br>
    {{ form.last_name.label }} {{ form.last_name(size=32) }}<br>
    {{ form.email.label }} {{ form.email(size=32) }}<br>
    {{ form.password.label }} {{ form.password(size=32) }}<br>
    {{ form.submit() }}
</form>

<a href="{{ url_for('login') }}">Already have an account? Login</a>
{% endblock %}
