{% extends "base.html" %}
{% block content %}
<h2>Reviews</h2>
<!-- ============================================ -->
<!--                    Reviews                   -->
<!-- ============================================ -->

<section id="reviews-1641">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models.png" alt="models" width="586" height="690">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Reviews</span>
            <h2 class="cs-title">What Our Clients Say</h2>
            <ul class="cs-card-group">
                {% for review in reviews %}
                <li class="cs-item">
                    <picture class="cs-profile">
                        <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1114445501.jpg" alt="profile" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <div class="cs-flex-group">
                        <ul class="star-rating">
                            {% for _ in range(review.rating) %}
                                <li class="star">&#9733;</li>
                            {% endfor %}
                            {% for _ in range(5 - review.rating) %}
                                <li class="star empty">&#9734;</li>
                            {% endfor %}
                        </ul>
                        <span class="cs-review">{{ review.comment }}</span>
                        <span class="cs-name">{{ review.user.first_name }} {{ review.user.last_name[0] }} </span>
                        <span>{{review.date_formatted}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <!-- Pagination Controls -->
            <div class="pagination">
                <div class="pagination-container">
                {% if pagination.has_prev %}
                <a class="review-button-solid" href="{{ url_for('reviews_page', page=pagination.prev_num) }}">Previous</a>
                {% endif %}
                    <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>

                    {% if pagination.has_next %}
                    <a class="review-button-solid" href="{{ url_for('reviews_page', page=pagination.next_num) }}">Next</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
                                
{% endblock %}
