{% extends "base.html" %}
{% block content %}
<!-- ============================================ -->
<!--                    Reviews                   -->
<!-- ============================================ -->

<section id="reviews-1641">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reviews</span>
            <h2 class="cs-title">What Our Clients Say</h2>
            {% if current_user.is_authenticated %}
            <div class="toggle-buttons">
                <a 
                    href="{{ url_for('reviews_page', filter='all') }}" 
                    class="toggle-button {% if filter_type == 'all' %}active{% endif %}">
                    All Reviews
                </a>
                <a 
                    href="{{ url_for('reviews_page', filter='mine') }}" 
                    class="toggle-button {% if filter_type == 'mine' %}active{% endif %}">
                    My Reviews
                </a>
            </div>
            {% endif %}
            <ul class="cs-card-group">
                {% for review in reviews %}
                <li class="cs-item">
                    <picture class="cs-profile">
                        <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1114445501.jpg" alt="profile" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <div class="cs-flex-group">
                        <ul class="star-rating">
                            {% for _ in range(review.rating) %}
                                <li class="star">&#9733;</li>
                            {% endfor %}
                            {% for _ in range(5 - review.rating) %}
                                <li class="star empty">&#9734;</li>
                            {% endfor %}
                        </ul>
                        <span class="cs-review">{{ review.comment }}</span>
                        <span class="cs-name">{{ review.user.first_name }} {{ review.user.last_name[0] }} </span>
                        <span>{{review.date_formatted}}</span>
                    </div>
                    <!-- Show Edit button only in 'My Reviews' toggle -->
                    {% if filter_type == 'mine' %}
                    <a href="{{ url_for('edit_review', review_id=review.id) }}" class="edit-button">Edit Review</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <!-- Pagination Controls -->
            <div class="pagination">
                <div class="pagination-container">
                    {% if pagination.has_prev %}
                    <a class="review-button-solid" href="{{ url_for('reviews_page', page=pagination.prev_num, filter=filter_type) }}">Previous</a>
                    {% endif %}

                    <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>

                    {% if pagination.has_next %}
                    <a class="review-button-solid" href="{{ url_for('reviews_page', page=pagination.next_num, filter=filter_type) }}">Next</a>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
                                
{% endblock %}
