{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">

<!-- ============================================ -->
<!--                   Appointments                     -->
<!-- ============================================ -->

<section id="events-1650">
    <div class="cs-container cs-container-dashboard">
        <div class="cs-content">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg" alt="busines meeting" width="522" height="609" aria-hidden="true">
            </picture>
            <div class="cs-text-wrapper">
                <span class="cs-topper cs-topper-dashboard">Your Events</span>
                <h2 class="cs-title">Appointment History</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            {% for event in matching_events %}
            <li class="cs-item">
                <span class="cs-date">
                    <strong>{{ event.day }}</strong>
                    {{ event.month_abbreviation }} {{ event.year }}
                </span>
                <div class="cs-info-wrapper">
                    <div class="cs-info">
                        <h3 class="cs-h3">{{ event.title }}</h3>
                        <span class="cs-location"><strong>Status:</strong> {{ event.status }}</span>
                        <span class="cs-time">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">
                            {{ event.start_time }} - {{ event.end_time }} {{event.time_zone}}
                        </span>
                    </div>
                    <div class="cs-button-wrapper">
                        <a href="{{ event.meeting_url }}" class="cs-button-solid">Book Again</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div> 
    <!-- Pagination Controls -->
    <div class="pagination"> 
        <div class="pagination-container">
            {% if page > 1 %}
                <a class="review-button-solid" href="{{ url_for('user_dashboard', page=page-1) }}">Previous</a>
            {% endif %}
            <span>Page {{ page }} of {{ total_pages|int }}</span>  <!-- Ensure it's an integer -->
            {% if page < total_pages %}
                <a class="review-button-solid" href="{{ url_for('user_dashboard', page=page+1) }}">Next</a>
            {% endif %}
        </div>
</div>

    </div>

</section>
                                
<div class="cs-button-group">
    <a href="{{ url_for('logout') }}" class="cs-button-solid cs-button1">Sign Out</a>
</div>
{% endblock %}
